/*
==================================================
NEXUS DESIGN SYSTEM
Section
==================================================
*/

.section{

    display:flex;

    flex-direction:column;

    gap:56px;

    margin-bottom:140px;

}

.section.compact{

    gap:32px;

    margin-bottom:90px;

}

.section.large{

    gap:72px;

    margin-bottom:180px;

}