.projects-hero{

    position:relative;

    overflow:hidden;

    min-height:85vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:180px 8% 120px;

}

.projects-hero::before{

    content:"";

    position:absolute;

    inset:0;

    background:

        radial-gradient(circle at 20% 30%,
        rgba(90,180,255,.10),
        transparent 35%),

        radial-gradient(circle at 80% 20%,
        rgba(0,160,255,.08),
        transparent 30%);

}

.projects-hero-content{

    position:relative;

    z-index:2;

    max-width:900px;

    text-align:center;

}

.projects-hero h1{

    margin:30px 0;

    font-size:clamp(4rem,8vw,6.5rem);

    line-height:.95;

}

.projects-hero p{

    max-width:720px;

    margin:auto;

    color:var(--text-secondary);

    line-height:2;

}