@import url("./variables.css");

@import url("./components.css");



body {

    margin: 0;

    padding: 20px;


    background:

    var(--bg-primary);


    color:

    var(--text-primary);


    font-family:

    Arial, sans-serif;

}



.hero {


    text-align:

    center;


    padding:

    60px 20px;


}



.hero h1 {


    font-size:

    64px;


    color:

    var(--accent-primary);


}



#projects-container {


    display:

    grid;


    grid-template-columns:

    repeat(auto-fit,minmax(280px,1fr));


    gap:

    var(--space-large);


}